.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 16px;
}

.font-lg {
  font-size: 22px;
}

.text-red {
  color: red;
}

.align-center {
  text-align: center;
}

.align-start {
  text-align: start;
}

.align-end {
  text-align: end;
}
