.article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #e5e5e5;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px #9233ea56;
  width: calc(25% - 1rem);
}

.article__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

.article__description {
  font-family: Arial, Helvetica, sans-serif;
}
