.button {
  border: none;
  padding: 0 40px;
  border-radius: 5px;
  cursor: pointer;
  height: 2.5rem;
  width: 15rem;
  font-weight: 700;
  font-size: 1rem;
}

.button__solid {
  background-color: #319795;
  color: white;
}

.button__solid:hover {
  background-color: #2c7a7b;
}

.button__solid:disabled:hover {
  background-color: #319795;
}

.button__solid:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button__outlined {
  background-color: transparent;
  color: #319795;
  border: 1px solid currentColor;
}

.button__outlined:hover {
  background-color: #e6fffa;
}

.button__outlined:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.button__solid-blue {
  background-color: #3182ce;
}

.button__solid-blue:hover {
  background-color: #2b6cb0;
}

.button__outlined-blue{
  color: #3182ce;
  border: 1px solid currentColor;
}

.button__outlined-blue:hover {
  background-color: #ebf8ff;
}

.button__solid-pink {
  background-color: #d53f8c;
}

.button__solid-pink:hover {
  background-color: #b83280;
}

.button__outlined-pink{
  color: #d53f8c;
  border: 1px solid currentColor;
}

.button__outlined-pink:hover {
  background-color: #FFF5F7;
}