html {
  background-color: #d9f99d;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  html {
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    padding: 2rem;
  }
}
